@charset "utf-8";
body {
	background-color: lightblue;
}
.header {
	border: dashed 2px blue;
	width: 100%;
	height: 60px;
}
.Title {
	border: dashed 2px orange;
	float: left;
	width: 50%;
	text-align: center;
	margin: auto;
	padding: auto;
	line-height: 60px;
}
#Name {
	display: inline-block;
	float: left;
	width: auto;
	text-align: center;
	vertical-align: middle;
	background-color: teal;
	margin-left: 20%;
	border: dotted 2px red;
	font-size: 28px;
	color: white;
	font-weight: bolder;
}
.NavMenu {
	border: dashed 2px green;
	height: 60px;
	float: left;
}
.mainblock {
	clear: both;
	float: left;
	width: 600px;
	height: auto;
	padding: 0 5px;
	margin: 0 25px;
	background-color: white;	
}
.mainblock h2 {
	color: teal;
	width: 100%;
	border-bottom: solid 2px gray;
}
#profilepic {
	float: left;
	display: inline-block;
	height: 150px;
	width: auto;
}
.ContactLinks {
	float: left;
	width: auto;
	border: dashed 2px purple;
	height: auto;
	background-color: white;
	margin-top: 0px;
}
.ContactLinks h3 {
	text-align: center;
	width: 100%;
	line-height: 24px;
	border-bottom: solid 2px gray;
}
.ContactLinks ul {
	list-style-type: none;
	width: 100%;
	margin: auto;
}
.ContactLinks li {
	float: left;
	display: inline-block;
	width: 150px;
	height: 150px;
}
.ContactLinks img {
	height: 100px;
	width: 100px;
}
.ContactLinks h3 {
	color: teal;
}
.footer {
	clear: both;
	border: dashed 2px red;
	height: 50px;
	text-align: center;
	line-height:50px;
}
.NavMenu ul {
	list-style: none;
}
.NavMenu li {
	float: left;
	margin: 0 10px;
}
